body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
}

.header-info-container {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red;   for debugging */
    gap: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.info-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5px;
    border: 1px solid red; /* for debugging */
}

.info-item div {
    white-space: nowrap;
}

.info-item input[type=text] {
    /* width: 400px; */
    border: none;
    border-bottom: 2px solid black;
}